body {background-color: #1A98BB;}

h1 {color: #BB3D1A; text-align: center;}

p {font-family: arial; color: #0C72F3; font-size: 20px;}

/* Colores */

.color-1 {color: #bb3d1a;}
.color-2 {color: #1a98bb;}
.color-3 {color: #0c72f3;}
.color-4 {color: #f38d0c;}
.color-5 {color: #fcae09;}
.color-6 {color: #fc3409;}
