Colores

.color-1 {color: #bb3d1a;}
.color-2 {color: #1a98bb;}
.color-3 {color: #0c72f3;}
.color-4 {color: #f38d0c;}
.color-5 {color: #fcae09;}
.color-6 {color: #fc3409;}

body {background-color: color-1;}

h1 {color: color-2; text-align: center;}

p {font-family: arial; color: color-3; font-size: 20px;}
