body {background-color: #2D3336;}

h1 {font-family: arial; color: #F1822B; text-align: center; font-size: 32px;}
h2 {font-family: arial; color: #EC3706; font-size: 28px;}
h3 {font-family: arial; color: #7B85C8; font-size: 24px;}

p {font-family: arial; color: #C9CFD3; font-size: 20px;}

a:link {font-family: arial; color: #EC3706; font-size: 20px; text-decoration: none;}

<!img {position: relative;}>

div {margin: auto;}

.container {position: relative; text-align: center;}

.center {position: relative; text-align: center; max-width: 600px}

ol {font-family: arial; color: #C9CFD3; font-size: 20px;}
ul {font-family: arial; color: #C9CFD3; font-size: 20px;}

table, th, td {font-family: arial; font-size: 20px;border-collapse: collapse; border: 1px solid black; color: #7B85C8}
tr:nth-child(even){background-color: #C9CFD3}
th {background-color: #EC3706; color: white;}

/* Colores */

.color-1 {color: #2D3336;} /* FONDO OSCURO */
.color-2 {color: #C9CFD3;} /* GRIS LETRAS */
.color-3 {color: #F1822B;} /* NARANJA */
.color-4 {color: #EC3706;} /* ROJILLO */
.color-5 {color: #7B85C8;} /* LILA */
.color-6 {color: #fc3409;}
